.landing-section {
  display: flex;
  width: 85%;
  margin: auto;
  min-height: 80%;
  align-items: center;
  justify-content: space-between;
}

.landing-main {
  flex: 1;
  width: 50%;
  margin: 40px auto;
}

.landing-text h1 {
  font-size: 4.5rem;
  font-weight: 600;
  color: #1f1f1f;
}

.landing-text p {
  margin-top: 30px;
  font-size: 20px;
  color: #1f1f1f;
  max-width: 85%;
}

.landing-buttons {
  padding: 50px 0px 0px 0px;
  margin: 30px 0px 0px 0px;
}

.landing-image {
  max-width: 70vh;
}

@media screen and (max-width: 1400px) {
  .join {
    width: 145px;
    height: 50px;
    font-size: 14px;
  }

  .coursera-business {
    width: 250px;
    height: 50px;
    font-size: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .landing-text-h1 {
    font-size: 64px;
  }

  .landing-image {
    max-width: 232px;
  }
}


@media screen and (max-width: 740px) {
  .landing-image {
    display: none;
  }

  .landing-section {
    text-align: center;
    width: 95%;   
    max-height: 60%;
    justify-content: center;
    align-items: center;
  }

  .landing-main {
    margin: 0;
    
  }

  .landing-text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-text-h1 {
    font-size: 48px;
   
  }

  .landing-text-p {
    font-size: 20px;
    margin: auto;
  }

  .join {
    width: 350px;
    font-size: 14px;
  }

  .coursera-business {
    width: 350px;
    margin: 20px auto;
  }
}
