* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

button {
  font-family: "Source Sans Pro", sans-serif;
}

.sections-title {
  font-size: 44px;
  font-weight: 400;
}

.join {
  border: none;
  background: #0062e4;
  color: white;
  cursor: pointer;
  border-radius: 3px;
  width: 220px;
  height: 72px;
  font-size: 20px;
  font-weight: 700;
}

.join:hover {
  background-color: #00419e;
}

.sections-join-btn {
  max-width: 152px;
  max-height: 48px;
  font-size: 16px;
}

.sections-join-btn:hover {
  background: #00419e;
}

.coursera-business {
  border: 3px solid #0062e4;
  background: transparent;
  color: #0062e4;
  width: 320px;
  height: 72px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  border-radius: 3px;
}

footer {
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  padding: 44px 10%;
  font-size: 14px;
  border-top: 1px solid rgb(189, 189, 189);
}

.footer-socials {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

@media screen and (max-width: 820px) {
  .sections-title {
    font-size: 32px;
  }
}